{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
<script defer src="{% static 'js/app.js' %}"></script>
  </head>
  <body>
    <nav>
      <div class="nav-body">
        <div class="nav-header">
        <div class="logo">
          LOGO
        </div>
        <button class="nav-toggle" id="toggle-btn"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="lists-container" id="list">
          <div class="lists">
          <h3><a href="#">Home</a></h3>
          <h3><a href="#">My Github</a></h3>
          </div>
        </div>
      </div>
    </nav>
    <aside class="sidebar-wrapper">
      <div class="sidebar">
        <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
        <div class="sidebar-texts">
          <h2>INSTRUCTIONS</h2>
          <div class="multiplayer">
          <h3>To play multiplayer with your friend</h3>
          <ul>
            <li>Create a VS game</li>
            <li>Click on the invite link at the top to copy on your clipboard</li>
            <li>Send the link to your friend</li>
            <li>Your friend should input the link on the input provided in the homepage</li>
          </ul>
</div>
<div class="play-with-bot">
  <h3>To play with bot</h3>
  <ul>
    <li>Click on the Bot button in the homepage</li>
  </ul>
</div>        
        </div>
      </div>
    </aside>
    <main>
      <header>
        <h1>Tic Tac Toe</h1>
       
      </header>
      <div class="btn-container">
        <h2>CREATE A NEW GAME</h2>

        <form method="post" action="/">
          <div class="nav-btn">
            <button name="new-game-vs" id="versus" value="new-game-vs">
                <i class="fa-solid fa-people-arrows-left-right"></i>
                <span> VS </span>
              </button>
              <button id="bot"  name="new-game-bot" value="new-game-bot">
                <i class="fa-solid fa-robot"></i>
                <span> BOT </span>
              </button>
            </div>
          <div class="OR">
          <i class="fa-solid fa-o"></i>
          <i class="fa-solid fa-r"></i>
        </div>
        <div class="input-section">
          <h3>Join game via invite link...</h3>
          <div class="input-text">
            <label for="code">Input Code:</label>
            <input type="text" name="invite-link">
          </div>
          <button id="submit">Submit</button>
        </form>
        </div>
        <p class="info">Click for instructions</p>
      </div>
    </main>
  </body>
</html>
